body{
	/* font-family: "微软雅黑"; */
}


/**
 * head
 */
.header {
	background: rgba(0,0,0,0.75);
}

.header .small{
	color:rgba(255,255,255,1);
}

.hdleft p{	
	margin-left: 120px;	/*针对不同项目的LOGO宽度优化头部标题与LOGO的间距*/
	display: none;
}
.hdleft p span{
	color:rgba(255,255,255,1);
}

.loadingDiv{
	position: fixed;
	background: rgba(0, 0, 0, 0.85);
	margin: 0 auto;

}

#audio{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -150px;
	height: 0;
}

/**
 * detail
 */
#detail{
	background: url(../images/0086000017/bg.png) center center  no-repeat;
	background-size: cover;
	
}
#detail .main .left {
	background: rgba(0,0,0,0.6);
	padding-top: 24px;
/* 	position: fixed;
    overflow: visible;
	width:248px;
	z-index: -1000; */
	

	
}
/* #detail .main .left li{
	
	margin-top: -2px;
	margin-left: -2px;
	margin-bottom: 10px;
}
#detail .main .left li.cur {
    background:rgba(255,255,255,1);
	color: #000000;
	width:230px;


} */

#detail .main .left li{
	/* color:rgba(43,43,43,1); */
}
#detail .main .left li.cur{
	/* background:rgba(209,82,83,1); */
	background:#AD8017;

	color: #ffffff;
}





#detail .main .box {
  
    background-color:rgba(0,0,0,0.6);

}
#detail .main .box .righttextdiv{
	 background:transparent;
}
#detail .righttextdiv h3{
	color: #000000;
}

/**
 * welcome
 */
#welcome{
	background: url(../images/0086000017/bg.png) no-repeat;
	background-size: cover;
}
#welcome .main {
	background: rgba(0,0,0,0.8);
}

#welcome .main a {
	border: 1px solid #FFFFFF;
}
#welcome .main a:focus{
	background: #AD8017;
	color: #000000;
	outline: none;
}
#welcome #tishi {
	background: rgba(0,0,0,0.8);
}
#welcome .temp .left{
	background: transparent;
}
#welcome .content{
	background: transparent;
}


/**
 * worldtime
 */
#worldtime{
	background: url(../images/0086000017/bg.png) center center  no-repeat;
	background-size: cover;
	
}

#worldtime .content {
	background: rgba(0,0,0,0.6);
	
}

#worldtime .content .item {

	background: border-box rgba(0, 0, 0, 0.5);

}
#worldtime .right .item.cur {
	background: content-box rgba(255,255,255,0.5);
}
/**
 * weather
 */

#weather{
	background: url(../images/0086000017/bg.png) center center  no-repeat;
	background-size: cover;
}
#weather .content {
	background: rgba(0,0,0,0.8);
	
}
#weather #weekweather li.cur{
	
	/* background: border-box rgba(209,82,83,1); */
	background: transparent;
	
}

	
/**
 * index
 */

#index{
	background: url(../images/0086000017/bg.png) center center  no-repeat;
	background-size: cover;
}

#index .bot_main{
	background:rgba(001, 001, 001,0.76);
}

#index .bot_main .bgbox.cur{
	background: rgba(01,01,01,1);
}

#index .top_main ul li{
	background:rgba(001, 001, 001,0.76);
	/* border-bottom: 1px dotted #A77500; */
	
}
#index .container .main{
	background: transparent;
}

#index .top_main ul li a:hover{
	/* background: rgba(0,0,0,1); */
	background:rgba(255,255,255,.5);
	color: #FFFFFF;
}
#index .top_main ul li a:focus{
	background:#AD8017;
	color: #FFFFFF;
}










/**
 * vodlist
 */
#vodlist{
	background: url(../images/0086000017/bg.png) center center  no-repeat;
	background-size: cover;
}
#vodlist #content .box.vod ul{
	background: rgba(0,0,0,0.8);
}
#vodlist #content .box.vod ul li.cur{
	border: 4px solid rgba(255,255,255,1);
	box-shadow: 0 0 8px #fff;
	-webkit-box-shadow: 0 0 8px #fff;
}

#vodlist .main .left li.cur{
	background:#AD8017;	
}
#vodlist .main .left li.cur a{
	color: #ffffff;
}
#vodlist .main .left li.on{
	background:rgba(255,255,255,0.6);
}


#vodlist .main .left li.on a{
	color: #000000;
}


#vodlist #content .box.vod ul li span{

	background:rgba(0,0,0,0.6);
}
#vodlist .main .left{
	background: rgba(0,0,0,0.8);
}





/**
 * vodinfo
 */
#vodinfo{
	background: url(../images/0086000017/vodbg.jpg) center center  no-repeat;
	background-size: cover;
}
#vodinfo #main{
	background: transparent;
}
#vodinfo .content {
	background: rgba(0,0,0, 0.6);
}
.content .button_groups button{
	background:rgba(255,255,255,0.3);	
}
.content .button_groups button.cur{
	border: 4px solid rgba(255,255,255,1);
}