html, body {
    width:1920px;
    height: 1080px;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: STHeitiTC-Medium;
    /*font-weight: lighter;*/
}

[v-cloak] {
    display: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    vertical-align: middle;
    border: none;
    outline: none;
}

input {
    outline: none;
}

canvas {
    display: block;
    vertical-align: bottom;
}