@keyframes gogogo {
    0%{
    	transform: translateX(0); 
    	-webkit-transform: translateX(0);  
    }
	20%{
		transform: translateX(-40px);
		-webkit-transform: translateX(-40px);   
	}
    40%{
    	transform: translateX(-80px);
    	-webkit-transform: translateX(-80px);   
    }
	60%{
		transform: translateX(-120px);
		-webkit-transform: translateX(-120px);   
	}
	80%{
		transform: translateX(-160px);
		-webkit-transform: translateX(-160px);   
	}
    100%{
    	transform: translateX(-200px);
    	-webkit-transform: translateX(-200px);
    }
}
@-webkit-keyframes gogogo {
   0%{
   	transform: translateX(0); 
   	-webkit-transform: translateX(0);  
   }
   20%{
   	transform: translateX(-40px);
   	-webkit-transform: translateX(-40px);   
   }
   40%{
   	transform: translateX(-80px);
   	-webkit-transform: translateX(-80px);   
   }
   60%{
   	transform: translateX(-120px);
   	-webkit-transform: translateX(-120px);   
   }
   80%{
   	transform: translateX(-160px);
   	-webkit-transform: translateX(-160px);   
   }
   100%{
   	transform: translateX(-200px);
   	-webkit-transform: translateX(-200px);
   }
}


@keyframes scrollup {
    0%{
    	transform: translateY(0); 
    	-webkit-transform: translateY(0);  
    }
	20%{
		transform: translateY(-10px);
		-webkit-transform: translateY(-20px);   
	}
    40%{
    	transform: translateY(-20px);
    	-webkit-transform: translateY(-40px);   
    }
	60%{
		transform: translateY(-30px);
		-webkit-transform: translateY(-60px);   
	}
	80%{
		transform: translateY(-40px);
		-webkit-transform: translateY(-80px);   
	}
   100%{
    	transform: translateY(-50px);
    	-webkit-transform: translateY(-100px);
    }
}
@-webkit-keyframes scrollup {
 0%{
 	transform: translateY(0); 
 	-webkit-transform: translateY(0);  
 }
 20%{
 	transform: translateY(-10px);
 	-webkit-transform: translateY(-20px);   
 }
 40%{
 	transform: translateY(-20px);
 	-webkit-transform: translateY(-40px);   
 }
 60%{
 	transform: translateY(-30px);
 	-webkit-transform: translateY(-60px);   
 }
 80%{
 	transform: translateY(-40px);
 	-webkit-transform: translateY(-80px);   
 }
100%{
 	transform: translateY(-50px);
 	-webkit-transform: translateY(-100px);
 }
}

body{
	background: transparent;
}
:focus{
	outline: none;
}
.main{	
	width: 1118px;
	height: 510px;
	margin-left: 81px;
	margin-top: 144px;
}
.main .left{
	float: left;
	width: 246px;
	height: 510px;
	
	overflow: hidden;
	/* background: rgba(1,39,75,1); */
}
.main .left li{
	width: 1000px;
	height: 23px;
	line-height: 23px;
	font-size: 22px;
	color: #FFFFFF;
	letter-spacing: 0.85px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}


.main .left li.cur{
	background: #AD8017;
/* 	animation:gogogo 7s infinite linear;
	-webkit-animation:gogogo 7s infinite linear; */
}
.main .left li.on{
	background: #AD8017;	
/* 	animation:gogogo 7s infinite linear;
	-webkit-animation:gogogo 7s infinite linear; */
	
}
.marquee{
	animation:gogogo 7s infinite linear;
	-webkit-animation:gogogo 7s infinite linear;
}
.main .box{
	float: right;
	width: 872px;
	display: none;
	background-color: #FFECD5;
	height: 510px;
}
.main .box.cur{
	display: block;
}
.main .box .imgtemp{
	width: 510px;
	height: 510px;
	float: left;
	position: relative;
}
.main .box img{
	width: 458px;
	height: 458px;
	margin: 0 auto;
	display: table-cell;
	position:flex;
	top: 50%;
	left: 50%;
	text-align: center;
	margin-top: 25px;
}
#detail .main .box .righttextdiv{
	float: right;
	background: #FFECD5;
	width: 336px;
	height: 420px;
	margin-top: 32px;
	padding: 0 25px 30px 0px;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0.99px;
	line-height: 24px;	
/* 	overflow-y:auto;
	overflow-x: hidden; */
	/* height: 100%; */
	overflow: hidden;
	
}
#detail .righttextdiv h3{
	font-size: 36px;
	color: #AD8017;
	letter-spacing: 0.85px;
	line-height: 36px;	
	margin-bottom: 6px;
	font-weight: normal;
	overflow: hidden;
}
#detail .righttextdiv ul{
	font-size: 20px;
	height:auto;
	padding: 30px 0;
	font-weight: normal;

	
	
	
}

#detail .righttextdiv ul.scroll{
	animation:scrollup 8s infinite linear;
	-webkit-animation:scrollup 8s infinite linear;
}



#detail .righttextdiv .content1{
	margin-bottom: 6px;
}
#detail .righttextdiv .content1,.righttextdiv .content2{
	font-size: 18px;
	color: #AD8017;
	letter-spacing: 0.85px;
	line-height: 36px;
}
#detail .main .box .righttextdiv .content3{
	font-size: 18px;
	color: #323232;
	letter-spacing: 0.99px;
	line-height: 24px;
	overflow: hidden;
	/*text-indent: 0em;*/
}
#content-1{
	margin-top: 22px;
}
/* flexslider */
.flexslider{padding-top:0;position:relative;width:510px;height:510px;overflow:hidden;zoom:1;}
.flex-viewport{max-height:510px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.flexslider .slides{zoom:1;}
.flex-control-nav{width:0;position:absolute;bottom:10px;text-align:center;display: none;}
.flex-control-nav li{margin:0 5px;display:inline-block;zoom:1}
.flex-control-paging li a{background:url(../images/dot.png) no-repeat 0 -16px;display:block;height:16px;overflow:hidden;text-indent:-99em;width:16px;cursor:pointer;}
.flex-control-paging li a.flex-active{background-position:0 0;}
