* {
    margin: 0 auto;
}

body {
    background: url(../img/bg2.jpg) no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    display: none;
}

.shadow {
    width: 1920px;
    height: 1080px;
    background: #000;
    opacity: 0.8;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    width: 1920px;
    height: 1080px;
    position: absolute;
    /*border: 1px solid red;*/
}

.entry {
    font-size: 35px;
    color: #fff;
}

.content p {
    font-size: 16px;
    color: #fff;
}

.inp {
    width: 34%;
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 6px;
    text-align: center;
    caret-color: #d2ac2b;
}

.header {
    margin-top: 14px;
    width: 1780px;
    height: 72px;
    margin-left: 60px;
    text-align: left;
    vertical-align: middle;
    /*border: 1px solid blue;*/
}

.header .lt {
    width: auto;
    height: 60px;
}

.header .lt2 {
    width: 3px;
    height: 44px;
    margin-top: 4px;
    margin-left: 20px;
}

.header .welcome {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    /*border: 1px solid red;*/
}

.header .weathertime {
    height: 60px;
    line-height: 60px;
    float: right;
    display: inline-block;
}

.weathertime ul li {
    float: left;
    color: #eee;
    font-size: 20px;
    margin-left: 36px;
    /*border: 0.1px solid green;*/
}

.weathertime ul li img {

}

.header p {
    color: #fff;
    font-size: 16px;
}

.menu {
    width: 1170px;
    height: 590px;
    text-align: left;
    /*border: 1px solid red;*/
}

.menu p {
    color: #aaa;
    font-size: 26px;
}

.menu img {
    width: 100%;
    height: auto;
}

.menu img {
    width: 70px;
    height: auto;
    margin-top: 20px;
}

.menu .small {
    color: #aaa;
    font-size: 15px;
    /*margin-top: 30px;*/
}

.defaultStyle {
    opacity: 0.5;
}

/*菜单1*/
.menu .menu_1 {
    width: 571px;
    height: 284px;
    float: left;
    margin-bottom: 6px;
    /*background-image: url(../img/menu/01.jpg);*/
    background-size: cover;
    overflow: hidden;
    text-align: center;
    line-height: 284px;
    border: 1px solid transparent;
}

.menu .menu_2 {
    width: 284px;
    height: 284px;
    float: left;
    margin-left: 579px;
    margin-top: -292px;
    margin-bottom: 6px;
    /*background-image: url(../img/menu/02.jpg);*/
    background-size: cover;
    text-align: center;
    line-height: 284px;
    border: 1px solid transparent;
}

.menu .menu_3 {
    width: 284px;
    height: 138px;
    float: right;
    margin-top: -292px;
    background-size: cover;
    text-align: center;
    line-height: 138px;
    border: 1px solid transparent;
}

.menu .menu_4 {
    width: 284px;
    height: 138px;
    float: right;
    margin-top: -146px;
    background-size: cover;
    text-align: center;
    line-height: 138px;
    border: 1px solid transparent;
}

.menu .menu_5 {
    width: 284px;
    height: 278px;
    float: left;
    margin-right: 6px;
    background-size: cover;
    text-align: center;
    line-height: 278px;
    border: 1px solid transparent;
}

.menu .menu_6 {
    width: 135px;
    height: 135px;
    float: left;
    margin-right: 6px;
    background: #333333;
    background-size: cover;
    text-align: center;
    border: 1px solid transparent;
}

.menu .menu_7 {
    width: 135px;
    height: 135px;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    background: #333333;
    background-size: cover;
    text-align: center;
    border: 1px solid transparent;
}

.menu .menu_8 {
    width: 135px;
    height: 135px;
    float: left;
    margin-left: -286px;
    margin-top: 143px;
    background: #333333;
    background-size: cover;
    text-align: center;
    border: 1px solid transparent;
}

.menu .menu_9 {
    width: 135px;
    height: 135px;
    float: left;
    margin-right: 6px;
    margin-top: 143px;
    margin-left: -143px;
    background: #333333;
    background-size: cover;
    text-align: center;
    border: 1px solid transparent;
}

.menu .menu_10 {
    width: 284px;
    height: 278px;
    float: left;
    margin-right: 6px;
    margin-top: 1px;
    /*background-image: url(../img/menu/10.jpg);*/
    background-size: cover;
    text-align: center;
    line-height: 278px;
    border: 1px solid transparent;
}

.menu .menu_11 {
    width: 284px;
    height: 133px;
    float: right;
    margin-top: 2px;
    margin-bottom: 6px;
    background: #333333;
    background-size: cover;
    text-align: center;
    border: 1px solid transparent;
}

.menu .menu_12 {
    width: 284px;
    height: 133px;
    float: right;
    margin-top: 2px;
    background: #333333;
    background-size: cover;
    text-align: center;
    border: 1px solid transparent;
}

/*菜单2*/

.menu .menu_21 {
    width: 571px;
    height: 282px;
    float: left;
    margin-bottom: 6px;
    /*background-image: url(../img/menu/2_1.jpg);*/
    background-size: cover;
    text-align: center;
    line-height: 282px;
    border: 1px solid transparent;
}

.menu .menu_22 {
    width: 284px;
    height: 282px;
    float: left;
    margin-left: 579px;
    margin-top: -292px;
    margin-bottom: 6px;
    /*background-image: url(../img/menu/2_2.jpg);*/
    background-size: cover;
    text-align: center;
    line-height: 282px;
    border: 1px solid transparent;
}

.menu .menu_23 {
    width: 284px;
    height: 282px;
    float: right;
    margin-top: -292px;
    /*background-image: url(../img/menu/2_3.jpg);*/
    background-size: cover;
    text-align: center;
    line-height: 282px;
    border: 1px solid transparent;
}

.menu .menu_24 {
    width: 281px;
    height: 138px;
    float: left;
    background: #333333;
    background-size: cover;
    text-align: center;
    border: 1px solid transparent;
}

/*.menu .menu_24 p{
	margin-top: 30px;
}*/
.menu .menu_25 {
    width: 281px;
    height: 138px;
    float: left;
    margin-top: 146px;
    margin-left: -283px;
    background: #333333;
    background-size: cover;
    text-align: center;
    border: 1px solid transparent;
}

.menu .menu_26 {
    width: 282px;
    height: 283px;
    float: left;
    margin-left: 6px;
    background-size: cover;
    text-align: center;
    line-height: 283px;
    border: 1px solid transparent;
}

.menu .menu_27 {
    width: 284px;
    height: 283px;
    float: left;
    margin-left: 6px;
    background-size: cover;
    text-align: center;
    line-height: 283px;
    border: 1px solid transparent;
}

.menu .active {
    border: 1px solid #d2ac2b;
    opacity: 1;
}

.menu div:hover {
    border: 1px solid #d2ac2b;
}

.next {
    position: absolute;
    top: 320px;
    left: 1225px;
}

.next img {
    width: 54%;
}

.previous {
    position: absolute;
    top: 320px;
    left: 10px;
}

.previous img {
    width: 54%;
}

@keyframes gogogo {
    0%{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    30%{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100%{
        transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
    }
}
@-webkit-keyframes gogogo {
    0%{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    30%{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100%{
        transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
    }
}
.animate{
    animation:gogogo 10s infinite linear;
    -webkit-animation:gogogo 10s infinite linear;
}
