*{
	padding: 0;
	margin: 0;
}
body{
	background: url("../images/stairs-1209439.png");
}
.header .small{
	font-size: 28px;
	color: #AD8017;
	letter-spacing: 0.99px;
}

.main{
	opacity: 0.8;
	background: #000000;
	width: 1118px;
	height: 510px;
	margin-left: 81px;
	margin-top: 144px;	
}
.main div ul{
	height: 81px;
	border-top: 1px solid #cccccc;
	float: right;
	width: 100%;
	text-align: center;
	line-height: 81px;
}
.main div ul li{
	display: inline-block;
	width: 148px;
	text-align: center;
	float: left;
}
.main div ul .pig{
	width: 68px;
	margin-top: 10px;
	margin-left: 10px;
}
.main div.title{
	height: 100px;
}
.main div.title li{
	float: right;
	width: 150px;
	text-align: center;
}
