* {

		padding: 0;

		margin: 0;

	}



	.index {

		position: relative;

	}



	.conter {

		width: 30%;

		position: absolute;

		top: 50%;

		left: 35%;

	}



	.index h4 {

		position: absolute;

		top: 20%;

		left: 50%;

		color: #FFFF00;

		font-size: 40px;

		margin-left: -233px;

	}



	.index button {

		width: 100%;

		height: 50px;

		text-align: center;

		background: rgba(255, 255, 255, 0.5);

		border: none;

		color: #FFFF00;

		border-radius: 5px;

	}



	.conter input {

		width: 100%;

		height: 50px;

		text-align: center;

		background: rgba(70, 69, 69, 0.5);

		border: none;

		color: #fff;

		border-radius: 5px;

		margin-bottom: 20px;



	}

	.conter .focus {

		border: 1px #FFFF00 solid;

	}
