body {

	/* background: url(images/worldbg.jpg) no-repeat center center; */
	background: transparent;
}




/**
 * 内容区
 */

.content {
	display: block;
	position: relative;
	
	width: 1133px;
	height: 510px;
	margin: 143px auto 0;
}

.content .left {
	display: block;
	float: left;
	width: 381px;
	height: 381px;
	margin-left: 34px;
	margin-top: 53px;
	text-align: center;
}

.content .left .apm {
	font-size: 24px;
	height: 25px;
	line-height: 25px;
	width: 40px;
	margin-left: 70px;
	margin-top: 96px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

.content .left .time {
	width: 162px;
	height: 62px;
	line-height: 62px;
	font-size: 60px;
	letter-spacing: 2.5px;
	margin-left: 110px;
	margin-top: 21px;
}

.content .left .zone {
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-top: 16px;
	width: 152px;
	height: 24px;
	margin-left: 120px;
}

.content .right {
	display: block;
	float: right;
	margin-top: 55px;
	margin-right: 15px;
	width: 648px;
	height: 420px;
	margin-top: 22px;
	margin-bottom: 67px;
}

.content .item {
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
	height: 70px;
	line-height: 70px;
	width: 100%;
	
	border-bottom: 1px solid #ffffff;
}

.right .item ul {
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	height: 70px;
	line-height: 70px;
}

.right .item li {
	display: flex;
	display: -webkit-flex;
	/* height: 25px;
				line-height: 25px; */
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 1.32px;
	flex: 1;
	margin-left: 13px;
	height: 70px;
	line-height: 70px;
}

.right .item li:first-child {
	float: left;
}

.right .item li:last-child {
	float: right;
}

.right .item.cur {
	background: content-box #a57500;
	opacity: 0.5;
}
