<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<!-- Common widget API -->
		<script src="$MANAGER_WIDGET/Common/API/Widget.js" type="text/javascript" charset="utf-8"></script>
		<script src="$MANAGER_WIDGET/Common/API/TVKeyValue.js" type="text/javascript" charset="utf-8"></script>
		<script src="$MANAGER_WIDGET/Common/API/Plugin.js" type="text/javascript" charset="utf-8"></script>
		<script src="$B2BAPIS/b2bapis/b2bapis.js" type="text/javascript" charset="utf-8"></script>
		<script src="$B2BAPIS/b2bapis/b2bavplay.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript" src="js/vue.min.js"></script>

		<!-- Plugins -->
		<object id="pluginTVMW" border=0 classid="clsid:SAMSUNG-INFOLINK-TVMW" style="visibility: hidden;display:none"></object>
		<object id="pluginObjectSef" border=0 classid="clsid:SAMSUNG-INFOLINK-SEF" style="visibility: hidden;display:none"></object>
		<object id="pluginObjectAppCommon" border=0 classid="clsid:SAMSUNG-INFOLINK-SEF" style="visibility: hidden;display:none"></object>
		<object id="pluginObjectTVMW" border=0 classid="clsid:SAMSUNG-INFOLINK-TVMW" style="visibility: hidden;display:none"></object>
		<object id="pluginObjectTV" border=0 classid="clsid:SAMSUNG-INFOLINK-SEF" style="visibility: hidden;display:none"></object>
<!-- 		<object id="pluginAudio" border=0 classid=" clsid:SAMSUNG-INFOLINK-SEF" style="opacity:0.0; background-color:#000;width:0px;height:0px;display:none"></object> -->
		<object id="pluginAudio" border="0" classid="clsid:SAMSUNG-INFOLINK-SEF" style="opacity: 0.0; background-color: #000; width: 0px; height: 0px;display:none"></object>
		<title></title>
		<style type="text/css">
			html,
			body,
			#container {
				width: 100%;
				height: 100%;
				margin: 0;
			}

			.xyy1 {
				display: block;
				width: 100%;
				height: 100px;
				background: #098000;
				position: fixed;
				top: 0;
				color: #FFFFFF;
				font-size: 16px;
			}

			.chanList {
				background-color: #000000;
				width: 460px;
				height: 62%;
				position: absolute;
				left: 6%;
				top: 18%;
				opacity: 0.4;
			}

			.chanList ul {
				width: 100%;
				height: 100%;
				margin: 0;
			}

			.chanList ul li {
				list-style-type: none;
				margin: 0;
				font-size: 30px;
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: space-around;
			}

			.chanList ul li img {
				width: 80px;
				height: 80px;
				color: #221C1C;
			}

			.curChannel {
				opacity: 0.4;
				width: 120px;
				padding: 12px;
				float: right;
				margin-right: 4%;
				margin-top: 16px;
				font-size: 40px;
				text-align: center;
				letter-spacing: 6px;
				font-weight: bold;
				color: #ffffff !important;
			}

			.active {
				background-color: rgba(255, 255, 4, 0.3);
			}

			.channelname {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 85px;
			}

			.active_cname {
				-webkit-animation: horse 5s linear 0s infinite;
			}

			@-webkit-keyframes horse {
				0% {
					right: 0px;
					top: 0px;
				}

				47% {
					right: 220px;
					top: 0px;
				}

				48% {
					right: 220px;
					top: 100px;
				}

				49% {
					right: -200px;
					top: 100px;
				}

				50% {
					right: -200px;
					top: 0px;
				}

				100% {
					right: 0px;
					top: 0px;
				}
			}
		</style>
		<script src="js/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>

	</head>

	<body>
		<div class="container" id="container">
			<div class="xyy1" id="xyy1" style="display: none">1122</div>
			<div class="chanList" v-bind:style="{display:isShow}">
				<ul>
					<li v-for="(item,index) in chanList" v-bind:class="{active:item.major==cur}">
						<span>00{{item.major}}</span>
						<img src="../img/cctv.png">
						<span class="channelname" v-bind:class="{active_cname:item.major==cur}">{{item.channelName|subStr}}</span>
					</li>
				</ul>
			</div>
			<div class="curChannel" v-bind:style="{display:isShow}">
				000
			</div>
		</div>

		<script type="text/javascript">
			/**
			 * 电视直播函数
			 */
			// var tuneOptionDVBDigitalCable = {};
			// tuneOptionDVBDigitalCable.broadcastStandard = "DVB";
			// tuneOptionDVBDigitalCable.channelType = "CDTV";
			// tuneOptionDVBDigitalCable.frequency =  259000;
			// tuneOptionDVBDigitalCable.modulationType = "QAM64";
			// tuneOptionDVBDigitalCable.bandwidth = "8Mhz";
			// tuneOptionDVBDigitalCable.symbolRate = 6875;//6900;
			// tuneOptionDVBDigitalCable.programNumber=101;//2;//1027;//2;//200; //service ID
			// tuneOptionDVBDigitalCable.major = 1; //channel no for DVB
			// b2bapis.b2bbroadcast.tuneDirect(tuneOptionDVBDigitalCable, function() {$("#xyy").html("success");}, function() {$("#xyy").html("error");});

			function successCB1(windowRect, type) {
				// You will get exactly what you put as rectangle argument of show() through windowRect.
				// expected result : ["0", "0px", "50%", "540px"]
				var curChannel = tizen.tvchannel.getCurrentChannel();
				vm._data.cur = curChannel.major;

				var tuneOptionDVBDigitalCable = {};
				tuneOptionDVBDigitalCable.broadcastStandard = "DVB";
				tuneOptionDVBDigitalCable.channelType = "CDTV";
				tuneOptionDVBDigitalCable.frequency = 259000;
				tuneOptionDVBDigitalCable.modulationType = "QAM64";
				tuneOptionDVBDigitalCable.bandwidth = "8Mhz";
				tuneOptionDVBDigitalCable.symbolRate = 6875; //6900;
				tuneOptionDVBDigitalCable.programNumber = curChannel.programNumber; //2;//1027;//2;//200; //service ID
				tuneOptionDVBDigitalCable.major = curChannel.major; //channel no for DVB
				tizen.tvchannel.tune(tuneOptionDVBDigitalCable, function() {
					$("#xyy").append("success");
					$('.curChannel').html('00' + curChannel.major);
				}, function() {
					$("#xyy").append("error");
				});
			}
			tizen.tvwindow.show(successCB1, null, ["0px", "0px", "1920px", "1080px"], "MAIN", "BEHIND");
			try {
				var current3Dmode = tizen.tvdisplaycontrol.get3DEffectMode()
				$("#xyy").append("**The current 3D mode is " + current3Dmode + ".");
			} catch (error) {
				$("#xyy").append(error.message);
			}

			function successCB(channels) {
				$("#xyy").append("getChannelList() is successfully done. Totally " + channels.length + " channels are retrieved.");
				for (var i = 0; i < channels.length; i++) {
					$("#xyy").append("----- Channel [" + i + "] -----");
					$("#xyy").append("Major channel = " + channels[i].major);
					$("#xyy").append("Minor channel = " + channels[i].minor);
					$("#xyy").append("Channel Name = " + channels[i].channelName);
					$("#xyy").append("Program Number = " + channels[i].programNumber);
					// you can get other attributes provided in ChannelInfo
				}
			}

			try {
				// gets 10 channel information among all channels
				tizen.tvchannel.getChannelList(successCB, null, "ALL", 0, 10);
			} catch (error) {
				$("#xyy").append("Error name = " + error.name + ", Error message = " + error.message);
			}

			function signalStateChangeCB(state) {
				$("#xyy").append("Signal state changed to: " + state);
				$("#xyy").append("Signal state changed to: " + state + "<br/>");
				if (state === 'SIGNAL_STATE_OK') {
					function change(res) {
						$("#xyy").append("Switched to new resolution: " + res.width + "x" + res.height);

						var res = tizen.tvwindow.getVideoResolution();
						$("#xyy").append("Video resolution: " + res.width + "x" + res.height + " pixels" + res.aspectRatio);
						$("#xyy").append("Video resolution: " + res.width + "x" + res.height + " pixels" + res.aspectRatio + "<br/>");
						$("#xyy").append("Frequency: " + res.frequency + "Hz");
						if (res.aspectRatio === "ASPECT_RATIO_16x9") {
							$("#xyy").append("Widescreen is now turned on");
						}
					}
					tizen.tvwindow.addVideoResolutionChangeListener(change);

				}
			}
			try {
				tizen.tvchannel.addSignalStateChangeListener(signalStateChangeCB);
			} catch (e) {
				$("#xyy").append('error' + e.message());
			}
		</script>


		<script>
			document.onkeydown = function(e) {
				e = window.event || e;
				var aa = e.keyCode + '/' + e.which
				$("#xyy").append('key->' + aa);
				vm._data.isShow = 'inherit';
				setTimeout(() => {
					vm._data.isShow = 'none'
				}, 5000);
				switch (e.keyCode) {
					case 40: //up
						try {


							tizen.tvchannel.tuneUp({
								onsuccess: function(a, b) {
									// $("#xyy1").append('tuneDown'+a);
									vm._data.cur = a.major;
									$('.curChannel').html('00' + a.major);
								}
							});
						} catch (e) {
							$("#xyy").append('40----' + e.message);
						}

						break;
					case 38: //down
						try {
							// vm._data.cur--;
							tizen.tvchannel.tuneDown({
								onsuccess: function(a, b) {
									vm._data.cur = a.major;
									$('.curChannel').html('00' + a.major);
								}
							});
						} catch (e) {
							$("#xyy").append('38----' + e.message);
						}
						break;
					case 10009:
						tizen.tvwindow.hide(function() {
							$("#xyy").append('hide success');
						});
						window.history.go(-1);
						break;
					case 49: //按键1
						tizen.tvchannel.tune({
							major: 1
						}, {
							function() {
								$("#xyy").append('tune success');
							},
							function() {
								$("#xyy").append('tune fail');
							}
						});
						break;
					case 50: //按键2
						tizen.tvchannel.tune({
							major: 2
						}, {
							function() {
								$("#xyy").append('tune success');
							},
							function() {
								$("#xyy").append('tune fail');
							}
						});
						break;
					case 51: //按键3
						tizen.tvchannel.tune({
							major: 3
						}, {
							function() {
								$("#xyy").append('tune success');
							},
							function() {
								$("#xyy").append('tune fail');
							}
						});
						break;
					case 52: //按键4
						tizen.tvchannel.tune({
							major: 4
						}, {
							function() {
								$("#xyy").append('tune success');
							},
							function() {
								$("#xyy").append('tune fail');
							}
						});
						break;
					case 53: //按键5
						tizen.tvchannel.tune({
							major: 5
						}, {
							function() {
								$("#xyy").append('tune success');
							},
							function() {
								$("#xyy").append('tune fail');
							}
						});
						break;
					case 54: //按键6
						tizen.tvchannel.tune({
							major: 6
						}, {
							function() {
								$("#xyy").append('tune success');
							},
							function() {
								$("#xyy").append('tune fail');
							}
						});
						break;
					case 55: //按键7
						tizen.tvchannel.tune({
							major: 7
						}, {
							function() {
								$("#xyy").append('tune success');
							},
							function() {
								$("#xyy").append('tune fail');
							}
						});
						break;
					case 56: //按键8
						tizen.tvchannel.tune({
							major: 8
						}, {
							function() {
								$("#xyy").append('tune success');
							},
							function() {
								$("#xyy").append('tune fail');
							}
						});
						break;
					case 57: //按键9
						tizen.tvchannel.tune({
							major: 9
						}, {
							function() {
								$("#xyy").append('tune success');
							},
							function() {
								$("#xyy").append('tune fail');
							}
						});
						break;


				}
			};
		</script>
		<script>
			tizen.tvinputdevice.registerKey("0");
			tizen.tvinputdevice.registerKey("1");
			tizen.tvinputdevice.registerKey("2");
			tizen.tvinputdevice.registerKey("3");
			tizen.tvinputdevice.registerKey("4");
			tizen.tvinputdevice.registerKey("5");
			tizen.tvinputdevice.registerKey("6");
			tizen.tvinputdevice.registerKey("7");
			tizen.tvinputdevice.registerKey("8");
			tizen.tvinputdevice.registerKey("9");
			/*function  abcd(){
		    try{
                var supportedKeys = tizen.tvinputdevice.getSupportedKeys();
                $("#xyy").append('/length->'+supportedKeys.length+'/');
                for (var i = 0; i < supportedKeys.length; i++) {
                    //  keyCode[supportedKeys[i].name] = supportedKeys[i].code;
                    $("#xyy").append('name->'+supportedKeys[i].name+' code->'+supportedKeys[i].code);
                }
            }catch (e) {
                $("#xyy").append('$$$->'+e.message);
            }

		}
        abcd();*/
		</script>
		<script>
			var vm = new Vue({
				el: '#container',
				data: {
					chanList: [],
					cur: 2,
					isShow: 'inherit'
				},
				create() {
					var curChannel = tizen.tvchannel.getCurrentChannel();
					this.cur = curChannel.major;
				},
				mounted() {
					setTimeout(() => {
						this.isShow = 'none'
					}, 5000);
				},
				filters: {
					subStr: function(value) {
						if (value.length < 4) {
							return value;
						}
						return value.substr(5, 9);
					}
				}
			});

			tizen.tvchannel.getChannelList(function(channels) {
				//  $('.xyy1').append('bbb11->'+channels.length);
				vm._data.chanList = channels;
				//  $('.xyy1').append('bbb22->'+this.chanList.length);
			}, null, "ALL", 0, 10);
		</script>
	</body>

</html>
