<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/public.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/define.v2.js?VER=41" type="text/javascript" charset="utf-8"></script>
    <script src="js/syncTime.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script src="$B2BAPIS/b2bapis/b2bapis.js" type="text/javascript" charset="utf-8"></script>
    <style>
        .main{
            width: 100%;
            height: 100%;
            margin: 0;
        }
        .channelNum{
            position: absolute;
            top: 3%;
            right: 3%;
            font-size: 50px;
            color: aliceblue;
        }
        .channelList{
            position: absolute;
            top: 10%;
            left: 5%;
            background-color:black;
            opacity: 0.5;
            height: 70%;
            width: 18%;
        }
        ul{
            list-style-type: none;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            font-size: 18px;
            overflow: hidden;
            overflow-y: scroll;
        }
        li{
            padding: 10px 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: aliceblue;
            background-color: rgba(0, 0, 0, 1);
        }
        .active{
            background-color:rgba(199, 198, 138, 1);
            color: #fff !important;
            opacity: 1;
            padding: 15px 0;
        }
        ::-webkit-scrollbar {
        display: none;
    }
    .error{
        color: aliceblue;
        font-size: 25px;
        width: 100%;
        height: 50px;
        word-wrap:break-word ;
    }
    .tvicon{
        width: 100px;
        height: 50px;
    }
    .imgActive{
        width: 120px;
        height: 60px;
    }
    </style>
</head>
<body>
<div class="main" id="main">
        <div class="error" id="xyy" style="display:none">{{error}}</div>
        <div class="channelNum" v-if="numSeen">{{A}}{{B}}{{C}}</div>
        <div class="channelList" v-if="seen">
            <ul ref='list'>
                <li v-for="(item,index) in channelList" :class="{active:index==pointer}">
                    <span style="width:5%;" v-if='index<10'>0{{index}}</span>
                    <span style="width:5%;" v-else>{{index}}</span></10>
                    <!-- <img :src='item.logo.internalImageId!=undefined?localStorage.imgList[item.logo.internalImageId].internal_image_url:img/address.png" alt="" class="tvicon" /> -->
                    <img :src="item.logo.internalImageId!=undefined?imgList.data[item.logo.internalImageId].internal_image_url:'./img/adress.png'"  class="tvicon" :class="{imgActive:index==pointer}" />
                    <span style="width:25%;" class="tvname">{{item.translates[defaultLanguage].title}}</span>
                </li>
            </ul> 
        </div>
</div>
<script src="js/TV1.js" type="text/javascript" charset="utf-8">
</script>
</body>
</html>